@import "elements.less";

.dark-yellow-bg {
  background-color: #ff9a32;
}
.dark-blue-bg {
  background-color: #006579;
}
.light-brown-bg {
  background-color: #c0b7ae;
}
.light-grey-bg {
  background-color: #e7e7e8;
}
/* Mixin */

.nav-grad-bg {
  background-image: linear-gradient(left , rgb(255,255,255) 44%, rgb(222,222,222) 72%);
  background-image: -o-linear-gradient(left , rgb(255,255,255) 44%, rgb(222,222,222) 72%);
  background-image: -moz-linear-gradient(left , rgb(255,255,255) 44%, rgb(222,222,222) 72%);
  background-image: -webkit-linear-gradient(left , rgb(255,255,255) 44%, rgb(222,222,222) 72%);
  background-image: -ms-linear-gradient(left , rgb(255,255,255) 44%, rgb(222,222,222) 72%);

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.44, rgb(255,255,255)),
    color-stop(0.72, rgb(222,222,222)));
}

.hwb-nav {
  width: 200px;
  .nav-grad-bg()
}

.hwb-nav ul {
  list-style: none;
}
.hwb-nav li {
  font-size: 12px;
  padding-left: 4px;
  margin-bottom: 2px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
}
/* Implementation */
.rounded-box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

body {
  background: #c0b7ae;
}
.container p {
  color: #444;
  background: white;
  margin: 20px 0 0 0;
}
.logo-large {
  padding-top: 10px;
}
.header div {
  margin-bottom: 20px;
}
.footer div {
  margin-top: 20px;
}

.nav-title-box {
  width: 200px;
	height: 54px;
	margin-bottom: 2px;
}

.video-embed {
  margin-top: 20px;
}
/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
body {
  background: #c0b7ae;
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
  body {
    background: #c0b7ae;
  }
}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /*	.logo {
    		background: url(logo2x.jpg) no-repeat;
    		background-size: 212px 303px;
    	}*/
}
