@hwb-dark-yellow: #FF9A32;
@hwb-dark-blue: #006579;
@hwb-light-brown: #C0B7AE;
@hwb-light-grey: #e7e7e8;

.dark-yellow-bg {
	background-color: @hwb-dark-yellow;
}

.dark-blue-bg {
	background-color: @hwb-dark-blue;
}

.light-brown-bg {
	background-color: @hwb-light-brown;
}

.light-grey-bg {
	background-color: @hwb-light-grey;
}

/* Mixin */
.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
 
/* Implementation */
.rounded-box {
	.border-radius(5px);
}

.inner-container {
	background: white;
	margin: 20px 50px 0px 50px;
}

.container {
	background: @hwb-light-brown;
}

.container p {
	color: #fff;
	line-height: 100px;
	background: @hwb-dark-blue;
	text-align: center;
	margin: 20px 0 0 0;
}

.logo-large {
	padding-top: 10px;
}

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		background: @hwb-light-brown;
	}
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		background: @hwb-light-brown;
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}

