/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
.dark-yellow-bg {
  background-color: #ff9a32;
}
.dark-blue-bg {
  background-color: #006579;
}
.light-brown-bg {
  background-color: #c0b7ae;
}
.light-grey-bg {
  background-color: #e7e7e8;
}
/* Mixin */
.nav-grad-bg {
  background-image: linear-gradient(left, #ffffff 44%, #dedede 72%);
  background-image: -o-linear-gradient(left, #ffffff 44%, #dedede 72%);
  background-image: -moz-linear-gradient(left, #ffffff 44%, #dedede 72%);
  background-image: -webkit-linear-gradient(left, #ffffff 44%, #dedede 72%);
  background-image: -ms-linear-gradient(left, #ffffff 44%, #dedede 72%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.44, #ffffff), color-stop(0.72, #dedede));
}
.hwb-nav {
  width: 200px;
  background-image: linear-gradient(left, #ffffff 44%, #dedede 72%);
  background-image: -o-linear-gradient(left, #ffffff 44%, #dedede 72%);
  background-image: -moz-linear-gradient(left, #ffffff 44%, #dedede 72%);
  background-image: -webkit-linear-gradient(left, #ffffff 44%, #dedede 72%);
  background-image: -ms-linear-gradient(left, #ffffff 44%, #dedede 72%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.44, #ffffff), color-stop(0.72, #dedede));
}
.hwb-nav a {
  color: #006579;
  font-size: 14px;
  text-decoration: none;
}
.hwb-nav a:hover {
  font-style: bold;
}
.hwb-nav ul {
  list-style: none;
  text-align: right;
}
.hwb-nav ul li {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
  line-height: 22px;
}
.hwb-nav ul li:hover {
  background: white;
}
/* Implementation */
.rounded-box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container {
  background-image: url('../img/paper-tile.jpg');
  background-repeat: repeat;
}
.container p {
  color: #444;
  margin: 20px 0 0 0;
}
.logo-large {
  padding-top: 10px;
}
header {
  margin-bottom: 20px;
}
footer {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #e7e7e8;
  background-image: url('../img/footer-tile.jpg');
  background-repeat: repeat;
}
footer > div {
  padding: 40px 30px 10px 30px;
}
.nav-title-box {
  color: white;
  width: 200px;
  height: 54px;
  margin-bottom: 0px;
}
.nav-title-box h5 {
  color: white;
  padding-left: 15px;
  padding-top: 10px;
  display: block;
  line-height: 18px;
}
.content h1 {
  color: #006579;
}
.content h1 + p {
  font-weight: bold;
}
.content .video-embed {
  margin-top: 20px;
}
/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
body {
  background: #c0b7ae;
  background-image: url('../img/bg-tile.jpg');
  background-repeat: repeat;
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
  body {
    background: #c0b7ae;
  }
}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /*	.logo {
      		background: url(logo2x.jpg) no-repeat;
      		background-size: 212px 303px;
      	}*/
}
