@import "button.css";
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
.dark-yellow-bg {
  background-color: #ff9a32;
}
.dark-blue-bg {
  background-color: #00697d;
}
.light-brown-bg {
  background-color: #c0b7ae;
}
.light-grey-bg {
  background-color: #e7e7e8;
}
.dark-yellow {
  color: #ff9a32;
}
/* Mixin */
.nav-grad-bg {
  background-image: -moz-linear-gradient(left top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.05)));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
}
.sidebar-bg {
  background-color: rgba(35, 160, 185, 0.15);
}
.hwb-nav {
  width: 200px;
}
.hwb-nav a {
  color: #00697d;
  font-size: 14px;
  text-decoration: none;
}
.hwb-nav a:hover {
  font-style: bold;
}
.hwb-nav ul {
  list-style: none;
  text-align: right;
  margin: 0px;
}
.hwb-nav ul li {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  margin-bottom: 1px;
  line-height: 22px;
  background-image: -moz-linear-gradient(left top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.05)));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
}
.hwb-nav ul li:hover {
  background-image: none;
}
.hwb-nav ul li.selected {
  background-image: none;
}
.hwb-nav ul li.selected:before {
  content: url('../img/icon-hand.png');
  padding-right: 10px;
}
/* Implementation */
.rounded-box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container {
  background-image: url('../img/paper-tile.jpg');
  background-repeat: repeat;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.container > div {
  background-image: url('../img/hands.png');
  background-position: right bottom;
  background-repeat: no-repeat;
}
.container p {
  color: #444;
}
.logo-large {
  padding-top: 10px;
  padding-left: 20px;
}
header {
  margin-bottom: 20px;
}
footer {
  border-top: 1px solid #ccc;
  background-color: #e7e7e8;
  background-image: url('../img/footer-tile.jpg');
  background-repeat: repeat;
}
footer > div {
  font-size: 12px;
  padding: 14px 30px 10px 30px;
}
footer > div div:first-child {
  padding-top: 14px;
}
footer > div div:first-child span {
  color: #00697d;
}
footer > div div:first-child a {
  color: #998269;
  font-weight: bold;
}
.nav-title-box {
  color: white;
  width: 200px;
  height: 54px;
  margin-bottom: 0px;
}
.nav-title-box h5 {
  color: white;
  padding-left: 15px;
  padding-top: 10px;
  display: block;
  line-height: 18px;
}
.sidebar {
  width: 200px;
}
.sidebardiv {
  background-color: #00697d;
}
.sidebardiv:first-child {
  color: white;
  width: 200px;
  height: 54px;
  margin-bottom: 0px;
}
.sidebardiv:last-child {
  background-color: rgba(35, 160, 185, 0.15);
}
.content h1 {
  color: #23a0b9;
}
.content h1 + p {
  font-weight: bold;
}
.content .video-embed {
  margin-top: 20px;
}
/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
body {
  background: #c0b7ae;
  background-image: url('../img/bg-tile.jpg');
  background-repeat: repeat;
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
  body {
    background: #c0b7ae;
  }
}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /*	.logo {
      		background: url(logo2x.jpg) no-repeat;
      		background-size: 212px 303px;
      	}*/
}
